<a href="https://colab.research.google.com/github/Chanita-Su/KKU_Data_Mining/blob/master/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ตัวอย่างการเรียกใช้ package ที่ชื่อว่า pandas

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import os

In [5]:
path = '/content/drive/My Drive/DWDM_material'

In [6]:
os.listdir(path)

['test.csv']

In [7]:
import pandas as pd

In [8]:
file_path = os.path.join(path,'test.csv')
print(file_path)

/content/drive/My Drive/DWDM_material/test.csv

In [9]:
pd.read_csv(file_path)

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]

In [12]:
table1 = pd.read_csv(filepath)

NameError: ignored

In [ ]:
table

In [10]:
from matplotlib import pyplot as plt

In [13]:
plt.scatter(table['x'],table['y'])

NameError: ignored