<a href="https://colab.research.google.com/github/Chanita-Su/KKU_Data_Mining/blob/master/Final_Exam_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/final'

In [ ]:
import os
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')
search_request = os.path.join(path,'search_request.csv')

In [ ]:
search_click = pd.read_csv('/content/drive/My Drive/final/search_click.csv')
search_click.head()

   Unnamed: 0             click_timestamp  ...   time_diff_nanos   ads
0           0  2018-06-15 05:11:38.914154  ...  2222397704154000  True
1           1  2018-06-15 06:30:51.277476  ...   460838273476000  True
2           2  2018-06-15 06:32:09.558025  ...  2581491438025000  True
3           3  2018-06-15 06:00:59.820390  ...  1404578985390000  True
4           4  2018-06-15 05:23:36.828525  ...   933358625525000  True

[5 rows x 7 columns]

In [ ]:
w_restaurant = pd.read_csv('/content/drive/My Drive/final/w_restaurant.csv')
w_restaurant.head()

   Unnamed: 0  id              name  ...  hotel_restaurant  pet_friendly delivery
0           0   2  นครินทร์ทันตกรรม  ...               NaN           NaN      NaN
1           1   4      Corner House  ...               NaN           NaN      NaN
2           2   5    วัดโลกยสุธาราม  ...               NaN           NaN      NaN
3           3   6    นันท์คาราโอเกะ  ...               NaN           NaN      NaN
4           4   7       Buono Caffe  ...               NaN           NaN      NaN

[5 rows x 33 columns]

In [ ]:
search_request = pd.read_csv('/content/drive/My Drive/final/search_request.csv')
search_request.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [ ]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

#หมายเหตุที่1

1.extract_time() ซึ่ง input เป็น timestamp และ output เป็น เวลาที่ทำการ search วันในที่ทำการ search วันในสัปดาห์ที่ทำการ search

2.is_food ซึ่ง input เป็น category_name และ output เป็น คำตอบว่า เป็นร้านอาหารหรือไม่

In [ ]:
search_click.isnull().any()

Unnamed: 0          False
click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [ ]:
new_table = w_restaurant[['name' ,'city_name' ,'category_name']]
new_table

                                        name  ...         category_name
0                           นครินทร์ทันตกรรม  ...           Orthodontic
1                               Corner House  ...            Quick Meal
2                             วัดโลกยสุธาราม  ...   Historical/Religion
3                             นันท์คาราโอเกะ  ...               Karaoke
4                                Buono Caffe  ...      Café/Coffee Shop
...                                      ...  ...                   ...
246842                            Sushi Tama  ...                 Sushi
246843                     สะบายดี คาราโอเกะ  ...               Karaoke
246844                      สเต็กแม่&กาแฟลูก  ...  Steak House/Barbeque
246845                              Mom Made  ...      Café/Coffee Shop
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...               Noodles

[246847 rows x 3 columns]

In [ ]:
w_restaurant_wr = new_table[new_table['category_name']=='is_food']
w_restaurant_wr

Empty DataFrame
Columns: [name, city_name, category_name]
Index: []

#หมายเหตุที่2

#2 จากข้อมูล (reduced_marketbasket.csv) ใน http://qr.tebs.io/TTGDFf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ United Kingdom กับ ประเทศอื่นๆ ('Country'!='United Kingdom')
(80 คะแนน)

In [47]:
import os
reduced_marketbasket = os.path.join(path,'reduced_marketbasket.csv')

In [48]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
data.head()

FileNotFoundError: ignored

In [49]:
reduced_marketbasket = pd.read_csv('/content/drive/My Drive/final/reduced_marketbasket.csv')
reduced_marketbasket.head()

UnicodeDecodeError: ignored

#3 เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ
(คำละ 0.5 คะแนน)

1.Drill down ซูมเข้าไปแต่ละไดแมนชั่นเพื่อให้ดูง่ายขึ้น

2.hierarchy ดูแบบเรียงลำดับ

3.glaxy schema เป็นดาต้าแวร์เฮ้าที่ซับซ้อน

4.data cube

5.dimantion table เป็นตัวอธิบายมุมมองของข้อมูล

6.snowflake schema แตกออกไป

7.star schema คือการออกแบบดาต้าเบสเพื่อทำดาต้าแวร์เฮ้า

8.dice ตัดลูกเต๋ามาเป็นข้อเพื่อดูสิ่งที่เราต้องการ

9.Missing Values  ช่องว่างของข้อมูล

10.data base มีหน้าที่เก็บข้อมูล(ล่างสุด)

11.data cleaning การทำความสะอาดข้อมูล หาข้อมูลที่ผิดพลาด เช่น การกรอกข้อมูลที่ผิดช่อง การข้อมูลไม่ตรงคอลลัมม์ / data integration คือ การรวมข้อมูล

12.data warehouse คือโกดังเก็บข้อมูลเพื่อนำไปทำการวิเคาระห์ทางธุรกิจ สามารถเลือกดูข้อมูลในมุมต่างๆได้ -data mining สกัดความรู้จากข้อมูลว่าข้อมูลนั้นๆมีสิ่งสำคัญอะไรซ่อนอยู่ตามแต่ผู้ต้องการข้อมูลว่าอยากได้ข้อมูลลักษณะแบบใด
13.data mining สกัดความรู้จากข้อมูลว่าข้อมูลนั้นๆมีสิ่งสำคัญอะไรซ่อนอยู่ตามแต่ผู้ต้องการข้อมูลว่าอยากได้ข้อมูลลักษณะแบบใด

14.การสร้างdata warehouse ต้อง clean,intregrate,transform,load and refrech

15.presentation of mining results (การนำเสนอผลลัพธ์ที่สกัดออกมา) และนำข้อมูลมาสร้างเป็น Knowledge base